<h3>Please Log In</h3>

<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="username"><br>

    <label>Password:</label>
    <input type="password" name="user[password]" id="password" value="" placeholder="password"><br>

    <input type="submit" id="submit" value="Log In"><br>
</form>

<a href="/signup">Not a member? Sign Up!</a>