<h3>Sign up below:</h3>

<form action="/signup" method="POST">
<label for="username">Username: </label> 
<input type="text" name="username" id="username" required="required">

<label for="email">Email: </label> 
<input type="email" name="email" id="email" required="required">

<label for="password">Password: </label> 
<input type="password" name="password" id="password" required="required"><br><br>

<input type="submit" value="Sign Up" id="submit">
</form>